<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <title>backbone-todo</title>
  <style type="text/css">
    #app {
      background: #f0f0f0;
      margin: 0 auto;
      padding: 20px;
      width: 500px;
    }

    #app header>h1 {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      padding: 0 0 10px 0;
    }

    #app input[type="text"] {
      width: 100%;
      font-size: 24px;
      font-family: inherit;
      line-height: 1.4em;
      border: 0;
      outline: none;
      ;
      border: 1px solid #999999
    }
  </style>
</head>

<body>
  <div id="app">
    <header>
      <h1>my todo</h1>
      <input id="new-todo" type="text" placeholder="请输入代办事项">
    </header>
    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">勾选所有事项</label>
      <ul id="todo-list"></ul>
    </section>
    <footer>
      <a id="clear-completed">Clear completed item</a>
      <div id="todo-count"></div>
    </footer>
  </div>
  <script src="../lib/underscore.js"></script>
  <script src="../lib/jquery.js"></script>
  <script src="../lib/backbone.js"></script>
  <script src="../lib/backbone.localStorage.js"></script>
  <script src="todo.js"></script>
  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count">
      <b><%= remaining %></b>
      <%= remaining == 1 ? 'item' : 'items' %> left
    </div>
  </script>
</body>

</html>