@charset "UTF-8";
/**
 *
 * @authors leomYili
 * @date    2016-01-13 16:20:09
 * @version 1.0.0
 */
  * {
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
  }
  #zWlbody h3 {
    background: #d9edf7 !important;
    border-radius: 6px 6px 6px 6px !important;
    box-shadow: 0 0 0 1px #bce8f1, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #31708f;
    font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    line-height: 27px;
    margin: 15px 0 !important;
    padding: 5px 0 5px 20px;
    text-shadow: 2px 2px 3px #fff;
  }
  #zWlbody h5 {
    background: #eee !important;
    border-radius: 6px 6px 6px 6px !important;
    box-shadow: 0 0 0 1px #E0E0E0, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #212121;
    font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    line-height: 27px;
    margin: 15px 0 !important;
    padding: 5px 0 5px 20px;
    text-shadow: 2px 2px 3px #FFFFFF;
  }
  .docCantainer{
    padding-top: 20px
  }
  .dblock{
    display: block;
  }
  a:focus, a:hover {
    text-decoration: blink;
  }
  .page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
  }
  .lead {
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  .thumbnail{
    height: 300px;
    cursor: pointer;
  }
  /* actGotop */
  .actGotop{position:fixed;_position:absolute;bottom:100px;right:50px;width:150px;height:195px;display:none;}
  .actGotop a,.actGotop a:link{width:150px;height:195px;display:inline-block;background:url(images/blog7year_gotop.png) no-repeat;_background:url(images/blog7year_gotop.gif) no-repeat;outline:none;}
  .actGotop a:hover{background:url(images/blog7year_gotopd.gif) no-repeat;outline:none;}

  /* pinned */
  .pinned{
    margin-top: 55px;
    padding:10px 10px;
    border:1px solid #ddd;
    border-radius: 3px;
  }
  .pinned a{
    color:#000
  }
  .pinned>li>a{
    color:#2D2D2D;
    font-size: 16px
  }
  .z-document-content-str{
    display: none
  }
  .pinned .active>a, .pinned li>a:hover {
    font-weight: 700;
    background-color: transparent;
    border-left: 2px solid #563d7c;
  }
  .z-document-content-str li>a {
    font-size: 12px;
    color: #696969;
    padding-left: 25px;
  }
  .active>.z-document-content-str {
    display: block;
  }
  .z-document-content-str li{
    padding-left: 10px
  }
  .pinned .active>a {
    color: #563d7c;
  }